<!doctype html>
<html>
	<head>
		<title>----------Saas2.0 统计监控服务</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="哗啦啦" />
		<meta name="description"  content="Saas2.0 统计监控服务" />
		<!--DNS预读取-->
		<link rel="dns-prefetch" href="//cdn.bootcss.com" />
		<!--不在首屏加载的CSS,预加载-->
		<link rel="preload" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
	</head>
	<body>

		<div id="root"></div>
		<script  async="true" src="//cdn.bootcss.com/babel-polyfill/6.22.0/polyfill.min.js"></script>
		<script src="<%= htmlWebpackPlugin.options.bundleName %>"></script>

	</body>
</html>
